# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/

# IDE specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS specific
.DS_Store
Thumbs.db